<?xml version="1.0" encoding="utf-8" ?>
<cloudpanel>
  <ActiveDirectory>
    <GetDisabledUsers>10</GetDisabledUsers>
    <GetLockedUsers>10</GetLockedUsers>
  </ActiveDirectory>
  <Exchange>
    <GetMailboxSizes>999999999</GetMailboxSizes>
    <GetMailboxDatabaseSizes>999999999</GetMailboxDatabaseSizes>
    <GetMessageTrackingLogs>999999999</GetMessageTrackingLogs>
  </Exchange>
  <Database>
    <FindMissingData>999999999</FindMissingData>
    <UpdateDatabaseHistory>720</UpdateDatabaseHistory>
  </Database>
</cloudpanel>